#mainheader img{
    height: 100%;
    width: 100%;
    padding: 0;
}
.bg-black{
    color: white;
    background-color: black;
    opacity: 0.7;
}
.port-item{
    width:200%;
}
#mainheader .port-item:hover{
    opacity: 0.8;
    cursor: pointer;
}
@media (max-width: 575.98px) {
    #homeicon{
        font-size: 1.5em;
    }
    #resumeicon{
        font-size: 1.5em;
    }
    #contacticon{
        font-size: 1.5em;
    }
    #workicon{
        font-size: 1.5em;
    }
    #name{
        font-size: 2rem;
    }
}

@media (min-width: 767.96px) and (max-width: 991px) {
    #name{
        font-size: 2.5rem;
    }

}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .port-item{
        height:6em;
    }

}

@media (min-width: 1200px) {
    .port-item{
        height:7.5em;
    }
}
